/*--------------------
 welcome to your professional community area
 ------------------ */
.heading__color,.slider-title{
    color: #8f5849;
}
.link__text__container{
    border: 1px solid;
    border-color: #ebebeb;
}
.link__text{
    text-decoration: none;
}
.link__text i{
    color: #666666;
}
 .link__text__container:hover{
    box-shadow:5px 5px 8px  lightgray , -5px -0.1px 8px lightgray;
}

/* ----------------
explore topics area
---------------- */
.explore-area,.slider-bg, .footer-bg{
    background-color: #f3f2f0;
}
.content-topics{
    color: #616160;
}

/* -----------
post job
----------- */
.post-job{
    background-color:#f1ece5;
}

/* -------------
slider area
------------- */
.sliderNextPrev-btn{
    color: #212529b8;
    outline: none;
    border: none;
}
.sliderNextPrev-btn:hover{
    background-color:rgba(211, 211, 211, 0.31) ;
    color: rgba(0, 0, 0, 0.713);
}
h2{
    font-weight: 385;
}
.slider-text{
    line-height: 37px;
}

/* -----------
footer
------------ */
.logo-size{
    width: 120px;
}
footer p{
    margin-bottom: 5px;
}
footer a{
    text-decoration: none;
    color: #666763;
    font-weight: 500;
}
footer a:hover{
    text-decoration: underline;
}

